<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Editar artigo</h2>
            </div>
            <div class="card-body">
                <form action="/articles/put" method="POST">
                    <input type="text" class="form-control mb-4" minlength="3" required
                    value="<%= article.title %>"
                    name="title" placeholder="Defina o título do artigo.">
                    <textarea name="body" id="articleEdit"
                    class="form-control " placeholder="Escreva o artigo aqui!">
                        <%- article.body %>
                    </textarea>
                    <input type="hidden" name="id" value="<%- article.id %>">
                    <label for="categoryId" class="mt-1">Categoria</label>
                    <select class="form-control mb-3" id="categoryId" name="categoryId" 
                     required>
                        <option value="">Selecione uma categoria</option>
                        <% categories.forEach(function(category) { %>
                            <option value="<%= category.id %>" 
                                <%= category.id === article.categoryId ? 'selected' : '' %> >
                                <%= category.title %>
                            </option>
                        <% }); %>
                    </select>
                    <button class="btn btn-success" type="submit">Atualizar</button>
                </form>
            </div>
        </div>  
       
    </div>
</body>
<%- include ('../../partials/footer.ejs') %>

<script src="/tinymce/js/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#articleEdit",
        plugins: [
            'advlist',
            'autolink',
            'link',
            'image',
            'lists',
            'preview',
            'searchreplace',
            'wordcount',
            'fullscreen',
            'insertdatetime',
            'media',
            'save',
            'table',
            'emoticons',
        ]
    })
</script>
